# Node modules and cache
node_modules/
.vite/
.vitepress/

# Build output
dist/

# Environment variables
.env
.env.local
.env.*.local

# Editor-specific settings
.idea/
.vscode/
.DS_Store

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local override files
*.local
